<div class="container-scroller" >
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-4 login-half-bg d-flex flex-row">
            <img height="500" src="../../assets/images/mayaki/ecommerce001.jpg" alt="logo">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018 All rights reserved.</p>
          </div>
          <div class="col-lg-8 align-items-center justify-content-center"  style="width: 100% !important; ">
            <div class="auth-form-transparent text-left p-8">
              <br /><br /><br />
              <h4 style="text-align: center; font-weight: bold;">Bienvenu sur Mayaki!</h4>
              <h6 class="font-weight-light">Ravi de vous revoir encore!</h6>
              <form class="pt-3" [formGroup]="formLogin">
                <div *ngIf="incorrectsInfos" style="text-align: center;">
                  <p style="color: red; font-weight: bold;">Nom d'utilisateur et/ou Mot de passe incorrects!</p>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail">Nom d'utilisateur</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <!-- <i class="mdi mdi-account-outline text-primary"></i> -->
                      </span>
                    </div>
                    <input formControlName="username" type="text" class="form-control form-control-lg border-left-0" id="" placeholder="Nom d'utilisateur">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Mot de passe</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <!-- <i class="mdi mdi-lock-outline text-primary"></i> -->
                      </span>
                    </div>
                    <input formControlName="password" type="password" class="form-control form-control-lg border-left-0" id="exampleInputPassword" placeholder="Mot de passe">
                  </div>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input" hidden>  </label>
                  </div>
                  <a data-toggle="modal" href="#myModal" class="auth-link text-black">Mot de passse oublie ?</a>
                </div>
                <div class="my-3">
                  <button (click)="submit()" [disabled]="!formLogin.valid" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn bg-color-site text-white" >SE CONNECTER</button>
                </div>
                <!-- <div class="mb-2 d-flex">
                  <button type="button" class="btn btn-facebook auth-form-btn flex-grow mr-1 bg-color-site">
                    <i-bs class="mr-2" name="facebook"></i-bs>Facebook </button>
                  <button type="button" class="btn btn-google auth-form-btn flex-grow ml-1 bg-color-site">
                    <i-bs class="mr-2" name="google"></i-bs>Google </button>
                </div> -->
                <!-- <div class="text-center mt-4 font-weight-light"> Don't have an account? <a nam="register" class="text-primary">Create</a>
                </div>-->
              </form>

              <form [formGroup]="formResetPassword">
              <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <h4 class="modal-title">Mot de passse oublié ?</h4>
                  </div>
                  <div class="modal-body">
                    <p>Entrez votre adresse e-mail ci-dessous pour réinitialiser votre mot de passe.</p>
                    <input formControlName="email" type="email" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                  </div>
                  <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-danger" type="button">Retourner</button>
                    <button (click)="submitEmail()" [disabled]="!formResetPassword.valid"
                    class="btn btn-primary bg-color-site text-white" *ngIf="!isSending" type="submit">Envoyer</button>
                    <button [disabled]="true"
                    class="btn btn-primary bg-color-site text-white" *ngIf="isSending" type="submit">Envoi en cours...</button>
                  </div>
                  </div>
                </div>
                </div>
              </form>



            </div>
          </div>

        <!--
        <div class="brand-logo">
                <img src="../../assets/images/Logo.png" alt="logo">
              </div>-->

        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
