<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style=" .container{ margin: 0px auto !important;}">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/images/dash/caroussel.png" alt="First slide">
    </div>
  <div class="carousel-item ">
      <img class="d-block w-100" src="../../assets/images/dash/0b21fe56e3fa9b25f09b468c8cc231e0.jpg" alt="First slide">
    </div>
  <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/images/dash/4e52251f168aa11b1da3637f27e9a38c.jpg" alt="Third slide">
    </div>
  <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/images/dash/f71a836f917eb2804b04051cd589d187.jpg" alt="Third slide">
    </div>
  </div>
</div>
<div class="tab-slider-product section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <div class="container">
                    </div>

                </div>
                <div class="tabs-listing">
                    <div style="margin:20px;"></div>

                    <div class="tab_container">
                        <div id="tab1" class="grid-products">


                            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
                            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
                            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
                            <style>
                            body {
                                font-family: "Open Sans", sans-serif;
                            }
                            h2 {
                                color: #000;
                                font-size: 26px;
                                font-weight: 300;
                                text-align: center;
                                text-transform: uppercase;
                                position: relative;
                                margin: 30px 0 80px;
                            }
                            h2 b {
                                color: #ffc000;
                            }
                            h2::after {
                                content: "";
                                width: 100px;
                                position: absolute;
                                margin: 0 auto;
                                height: 4px;
                                background: rgba(0, 0, 0, 0.2);
                                left: 0;
                                right: 0;
                                bottom: -20px;
                            }
                            .carousel {
                                margin-left: 50px;
                                margin-right: 50px;
                                padding: 0 70px;
                            }
                            .carousel .carousel-item {
                                min-height: 330px;
                                text-align: center;
                                overflow: hidden;
                            }
                            .carousel .carousel-item .img-box {
                                height: 160px;
                                width: 100%;
                                position: relative;
                            }
                            .carousel .carousel-item img {
                                max-width: 100%;
                                max-height: 100%;
                                display: inline-block;
                                position: absolute;
                                bottom: 0;
                                margin: 0 auto;
                                left: 0;
                                right: 0;
                            }
                            .carousel .carousel-item h4 {
                                font-size: 18px;
                                margin: 10px 0;
                            }
                            .carousel .carousel-item .btn {
                                color: #333;
                                border-radius: 0;
                                font-size: 11px;
                                text-transform: uppercase;
                                font-weight: bold;
                                background: none;
                                border: 1px solid #ccc;
                                padding: 5px 10px;
                                margin-top: 5px;
                                line-height: 16px;
                            }
                            .carousel .carousel-item .btn:hover, .carousel .carousel-item .btn:focus {
                                color: #fff;
                                background: #000;
                                border-color: #000;
                                box-shadow: none;
                            }
                            .carousel .carousel-item .btn i {
                                font-size: 14px;
                                font-weight: bold;
                                margin-left: 5px;
                            }
                            .carousel .thumb-wrapper {
                                text-align: center;
                            }
                            .carousel .thumb-content {
                                padding: 15px;
                            }
                            .carousel-control-prev, .carousel-control-next {
                                height: 100px;
                                width: 40px;
                                background: none;
                                margin: auto 0;
                                background: rgba(0, 0, 0, 0.2);
                            }
                            .carousel-control-prev i, .carousel-control-next i {
                                font-size: 30px;
                                position: absolute;
                                top: 50%;
                                display: inline-block;
                                margin: -16px 0 0 0;
                                z-index: 5;
                                left: 0;
                                right: 0;
                                color: rgba(0, 0, 0, 0.8);
                                text-shadow: none;
                                font-weight: bold;
                            }
                            .carousel-control-prev i {
                                margin-left: -3px;
                            }
                            .carousel-control-next i {
                                margin-right: -3px;
                            }
                            .carousel .item-price {
                                font-size: 13px;
                                padding: 2px 0;
                            }
                            .carousel .item-price strike {
                                color: #999;
                                margin-right: 5px;
                            }
                            .carousel .item-price span {
                                color: #86bd57;
                                font-size: 110%;
                            }
                            .carousel .carousel-indicators {
                                bottom: -50px;
                            }
                            .carousel-indicators li, .carousel-indicators li.active {
                                width: 10px;
                                height: 10px;
                                margin: 4px;
                                border-radius: 50%;
                                border-color: transparent;
                                border: none;
                            }
                            .carousel-indicators li {
                                background: rgba(0, 0, 0, 0.2);
                            }
                            .carousel-indicators li.active {
                                background: rgba(0, 0, 0, 0.6);
                            }
                            .star-rating li {
                                padding: 0;
                            }
                            .star-rating i {
                                font-size: 14px;
                                color: #ffc000;
                            }
                            </style>

                            <div class="container">
                                <h1 *ngIf="estCommande">Votre commande a été éffectuée avec succès.\nVous serez livrés dans 5 jours.</h1>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Les derniers <b style="color: #0f6674">Articles</b></h2>
                                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                                        <!-- Carousel indicators -->
                                        <ol class="carousel-indicators">
                                            <li *ngIf="produits1.length !== 0" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li *ngIf="produits2.length !== 0" data-target="#myCarousel" data-slide-to="1"></li>
                                            <li *ngIf="produits3.length !== 0" data-target="#myCarousel" data-slide-to="2"></li>
                                            <li *ngIf="produits4.length !== 0" data-target="#myCarousel" data-slide-to="3"></li>
                                            <li *ngIf="produits5.length !== 0" data-target="#myCarousel" data-slide-to="4"></li>
                                            <li *ngIf="produits6.length !== 0" data-target="#myCarousel" data-slide-to="5"></li>
                                        </ol>
                                        <!-- Wrapper for carousel items -->
                                        <div class="carousel-inner">
                                            <div class="carousel-item active" *ngIf="produits1.length !== 0">
                                                <div class="row">
                                                    <div class="col-sm-4" *ngFor="let pr of produits1">
                                                        <div class="thumb-wrapper">
                                                            <div class="img-box">
                                                                <img src="{{url}}{{pr.image?.image}}" class="img-fluid btn" alt="" (click)="showPageDetailProduit(pr?.id)">
                                                            </div>
                                                            <div class="thumb-content">
                                                                <h4 class="trim-info">{{pr.nom}}</h4>
                                                                <p class="item-category trim-info"><span>{{pr.categorie?.nom}}</span></p>

                                                                <p *ngIf="pr.diminu_price" class="item-price"><span class="old-price">{{pr.prix}} CFA</span> <span>{{pr.diminu_price}} CFA</span></p>
                                                                <p *ngIf="!pr.diminu_price" class="item-price"><span>{{pr.prix}} CFA</span></p>
                                                                <div class="star-rating">
                                                                    <ul class="list-inline">
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                                    </ul>
                                                                </div>
                                                                <button (click)="addProductToCart(pr.id)" class="btn btn-primary">Ajouter au panier</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item" *ngIf="produits2.length !== 0">
                                                <div class="row">
                                                    <div class="col-sm-4" *ngFor="let pr of produits2">
                                                        <div class="thumb-wrapper">
                                                            <div class="img-box">
                                                                <img src="{{url}}{{pr.image?.image}}" class="img-fluid btn" alt="" (click)="showPageDetailProduit(pr?.id)">
                                                            </div>
                                                            <div class="thumb-content">
                                                                <h4 class="trim-info">{{pr.nom}}</h4>
                                                                <p class="item-category trim-info"><span>{{pr.categorie?.nom}}</span></p>

                                                                <p *ngIf="pr.diminu_price" class="item-price"><span class="old-price">{{pr.prix}} CFA</span> <span>{{pr.diminu_price}} CFA</span></p>
                                                                <p *ngIf="!pr.diminu_price" class="item-price"><span>{{pr.prix}} CFA</span></p>
                                                                <div class="star-rating">
                                                                    <ul class="list-inline">
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                                    </ul>
                                                                </div>
                                                                <button (click)="addProductToCart(pr.id)" class="btn btn-primary">Ajouter au panier</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item" *ngIf="produits3.length !== 0">
                                                <div class="row">
                                                    <div class="col-sm-4" *ngFor="let pr of produits3">
                                                        <div class="thumb-wrapper">
                                                            <div class="img-box">
                                                                <img src="{{url}}{{pr.image?.image}}" class="img-fluid btn" alt="" (click)="showPageDetailProduit(pr?.id)">
                                                            </div>
                                                            <div class="thumb-content">
                                                                <h4 class="trim-info">{{pr.nom}}</h4>
                                                                <p class="item-category trim-info"><span>{{pr.categorie?.nom}}</span></p>

                                                                <p *ngIf="pr.diminu_price" class="item-price"><span class="old-price">{{pr.prix}} CFA</span> <span>{{pr.diminu_price}} CFA</span></p>
                                                                <p *ngIf="!pr.diminu_price" class="item-price"><span>{{pr.prix}} CFA</span></p>
                                                                <div class="star-rating">
                                                                    <ul class="list-inline">
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                                    </ul>
                                                                </div>
                                                                <button (click)="addProductToCart(pr.id)" class="btn btn-primary">Add to Cart</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item" *ngIf="produits4.length !== 0">
                                                <div class="row">
                                                    <div class="col-sm-4" *ngFor="let pr of produits4">
                                                        <div class="thumb-wrapper">
                                                            <div class="img-box">
                                                                <img src="{{url}}{{pr.image?.image}}" class="img-fluid btn" alt="" (click)="showPageDetailProduit(pr?.id)">
                                                            </div>
                                                            <div class="thumb-content">
                                                                <h4 class="trim-info">{{pr.nom}}</h4>
                                                                <p class="item-category trim-info"><span>{{pr.categorie?.nom}}</span></p>

                                                                <p *ngIf="pr.diminu_price" class="item-price"><span class="old-price">{{pr.prix}} CFA</span> <span>{{pr.diminu_price}} CFA</span></p>
                                                                <p *ngIf="!pr.diminu_price" class="item-price"><span>{{pr.prix}} CFA</span></p>
                                                                <div class="star-rating">
                                                                    <ul class="list-inline">
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                                    </ul>
                                                                </div>
                                                                <button (click)="addProductToCart(pr.id)" class="btn btn-primary">Ajouter au panier</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item" *ngIf="produits5.length !== 0">
                                                <div class="row">
                                                    <div class="col-sm-4" *ngFor="let pr of produits5">
                                                        <div class="thumb-wrapper">
                                                            <div class="img-box">
                                                                <img src="{{url}}{{pr.image?.image}}" class="img-fluid btn" alt="" (click)="showPageDetailProduit(pr?.id)">
                                                            </div>
                                                            <div class="thumb-content">
                                                                <h4 class="trim-info">{{pr.nom}}</h4>
                                                                <p class="item-category trim-info"><span>{{pr.categorie?.nom}}</span></p>

                                                                <p *ngIf="pr.diminu_price" class="item-price"><span class="old-price">{{pr.prix}} CFA</span> <span>{{pr.diminu_price}} CFA</span></p>
                                                                <p *ngIf="!pr.diminu_price" class="item-price"><span>{{pr.prix}} CFA</span></p>
                                                                <div class="star-rating">
                                                                    <ul class="list-inline">
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                                    </ul>
                                                                </div>
                                                                <button (click)="addProductToCart(pr.id)" class="btn btn-primary">Ajouter au panier</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item" *ngIf="produits6.length !== 0">
                                                <div class="row">
                                                    <div class="col-sm-4" *ngFor="let pr of produits6">
                                                        <div class="thumb-wrapper">
                                                            <div class="img-box">
                                                                <img src="{{url}}{{pr.image?.image}}" class="img-fluid btn" alt="" (click)="showPageDetailProduit(pr?.id)">
                                                            </div>
                                                            <div class="thumb-content">
                                                                <h4 class="trim-info">{{pr.nom}}</h4>
                                                                <p class="item-category trim-info"><span>{{pr.categorie?.nom}}</span></p>

                                                                <p *ngIf="pr.diminu_price" class="item-price"><span class="old-price">{{pr.prix}} CFA</span> <span>{{pr.diminu_price}} CFA</span></p>
                                                                <p *ngIf="!pr.diminu_price" class="item-price"><span>{{pr.prix}} CFA</span></p>
                                                                <div class="star-rating">
                                                                    <ul class="list-inline">
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                                    </ul>
                                                                </div>
                                                                <button (click)="addProductToCart(pr.id)" class="btn btn-primary">Ajouter au panier</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Carousel controls -->
                                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                        <div id="tab2" class="tab_content grid-products">
                            <div class="productSlider">

                            </div>
                        </div>
                        <div id="tab3" class="tab_content grid-products">
                            <div class="productSlider">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" *ngIf="produits.length !== 0">
  <h3 class="h3"> Dans notre boutique </h3>
  <div class="row" >
    <div class="col-md-3 col-sm-6"*ngFor="let pr of produits" style="margin-bottom: 7px;">
      <div class="product-grid">
        <div class="product-image">
          <a href="#">
            <img class="pic-1 container" src="{{url}}{{pr.image?.image}}" (click)="showPageDetailProduit(pr?.id)" style="height: 150px; width: 180px;">
            <img class="pic-2 " src="{{url}}{{pr.image?.image}}" (click)="showPageDetailProduit(pr?.id)" style="height: 150px; width: 180px; margin-left:7%; ">
          </a>
          <ul class="social">
            <li><a (click)="showPageDetailProduit(pr?.id)" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a (click)="addProductToCart(pr.id)" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
        </div>
        <ul class="rating">
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star disable"></li>
        </ul>
        <div class="product-content">
          <h3 class="title"><a href="#">{{pr.nom}}</a></h3>
          <div class="price" *ngIf="pr.diminu_price"> {{pr.diminu_price}} CFA
            <span> {{pr.prix}} CFA</span>
          </div>
          <a class="add-to-cart" (click)="addProductToCart(pr.id)">+ ajouter au panier <i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>








