<!-- <form class="pt-3" [formGroup]="formGeneral">
    <div class="form-group">
      <label>Nom d'utilisateur</label>
      <div class="input-group">
        <div class="input-group-prepend bg-transparent">
          <span class="input-group-text bg-transparent border-right-0">
          </span>
        </div>
        <input formControlName="username" type="text" class="form-control form-control-lg border-left-0" placeholder="Nom d'utilisateur">
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="input-group">
        <div class="input-group-prepend bg-transparent">
          <span class="input-group-text bg-transparent border-right-0">
          </span>
        </div>
        <input formControlName="email" type="email" class="form-control form-control-lg border-left-0" placeholder="Email">
      </div>
    </div>

    
    <div class="mt-3">
      <button  (click)="submit()" [disabled]="!formGeneral.valid" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn bg-color-site text-white" >Créer Compte</button>
    </div>
    
  </form> -->


  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Profile Client | Mayaki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="panel rounded shadow">
            <div class="panel-body">
                <div class="inner-all">
                    <ul class="list-unstyled">
                        <li class="text-center">
                            <img data-no-retina="" class="img-circle img-responsive img-bordered-primary" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="John Doe">
                        </li>
                        <li class="text-center">
                            <h4 class="text-capitalize">{{nom}} {{prenom}}</h4>
                            <p class="text-muted text-capitalize">
                              <span *ngIf="role == 'CLIENT'">Client</span> 
                                <span  *ngIf="role == 'FOURNISSEUR'" >Fournisseur</span> 
                                <span  *ngIf="role == 'ADMIN'" >ADMIN</span> 
                            </p>
                        </li>
                        <li>
                            <a class="btn btn-success text-center btn-block">E-commerce Compte</a>
                        </li>
                        <li><br></li>
                        <li>
                            <div class="btn-group-vertical btn-block">
                              <a *ngIf="role == 'FOURNISSEUR'" href="profile/ajouter-produit" class="btn btn-default"><i class="fa fa-plus pull-right" aria-hidden="true"></i>Ajouter Produit</a>
                              <a *ngIf="role == 'FOURNISSEUR'" href="%23/mon-panier" class="btn btn-default"><i class="fa fa-list pull-right" aria-hidden="true"></i>Mes Produits</a>
                              <a *ngIf="role == 'ADMIN'" href="http://127.0.0.1:8881" class="btn btn-default"><i class="fa fa-tachometer pull-right" aria-hidden="true"></i>Espace ADMIN</a>
                              <a href="%23/mon-panier" class="btn btn-default"><i-bs name="cartFill" class="pull-right"></i-bs>Mon Panier</a>
                              <a (click)="logout()" style="cursor: pointer;" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Se Déconnecter</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.panel -->

        <div class="panel panel-theme rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 >Infos Perosnnel</h3>
                </div>
               
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body no-padding rounded">
                <ul class="list-group no-margin">
                    <li class="list-group-item"><i class="fa fa-envelope mr-5"></i> {{email}}</li>
                    <li class="list-group-item"><i class="fa fa-map-marker mr-5"></i> 
                      <span *ngIf="role == 'CLIENT'">{{client.adresse}}</span>
                      <span *ngIf="role == 'FOURNISSEUR'">{{fournisseurUser.adresse}}</span>
                      <span *ngIf="role == 'ADMIN'">Introuvable</span>
                    </li>
                    
                    <li class="list-group-item"><i class="fa fa-phone mr-5"></i> +00228 
                      <span *ngIf="role == 'CLIENT'">{{client.telephone}}</span>
                      <span *ngIf="role == 'FOURNISSEUR'">{{fournisseurUser.telephone}}</span>
                      <span *ngIf="role == 'ADMIN'">00 00 00 00</span>
                    </li>
                </ul>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->

    </div>
    <div class="col-lg-9 col-md-9 col-sm-8">

    <div class="profile-cover">
        <div class="cover rounded shadow no-overflow">
            <div class="inner-cover">
                
                <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                    <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- <ul class="dropdown-menu pull-right no-border" role="menu">
                        <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-envelope"></i> <span>Messages</span> <small>(7 new)</small></a></li>
                    </ul> -->
                </div>
                <img  src="https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg" class="img-responsive full-width" alt="cover" style="max-height:200px;">
            </div>
            <!-- <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu">
                <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>
                <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>
                
            </ul> -->
        </div><!-- /.cover -->
    </div><!-- /.profile-cover -->
    <div class="divider"></div>
    <!-- <div class="panel rounded shadow">
        <form action="...">
            <textarea class="form-control input-lg no-border" rows="2" placeholder="What are you doing?..."></textarea>
        </form>
        <div class="panel-footer">
            <button class="btn btn-success pull-right mt-5">POST</button>
            <ul class="nav nav-pills">
                <li><a href="#"><i class="fa fa-user"></i></a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                <li><a href="#"><i class="fa fa-camera"></i></a></li>
                <li><a href="#"><i class="fa fa-smile-o"></i></a></li>
            </ul>
        </div>
    </div> --><!-- /.panel -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success rounded shadow">
                <div class="panel-heading no-border">
                    <h2>Infos Général</h2>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->
               
                <div class="panel-footer">
                    <form class="pt-3" [formGroup]="formGeneral">
                        <div class="form-group">
                          <label>Nom d'utilisateur</label>
                          <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                              <span class="input-group-text bg-transparent border-right-0">
                              </span>
                            </div>
                            <input formControlName="username" type="text" class="form-control form-control-lg border-left-0" placeholder="Nom d'utilisateur">
                          </div>
                        </div>
                        <div class="form-group">
                            <label>Nom de famille</label>
                            <div class="input-group">
                              <div class="input-group-prepend bg-transparent">
                                <span class="input-group-text bg-transparent border-right-0">
                                </span>
                              </div>
                              <input formControlName="last_name" type="text" class="form-control form-control-lg border-left-0" placeholder="Nom de famille">
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Prénom</label>
                            <div class="input-group">
                              <div class="input-group-prepend bg-transparent">
                                <span class="input-group-text bg-transparent border-right-0">
                                </span>
                              </div>
                              <input formControlName="first_name" type="text" class="form-control form-control-lg border-left-0" placeholder="Prénom">
                            </div>
                          </div>
                        <div class="form-group">
                          <label>Email</label>
                          <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                              <span class="input-group-text bg-transparent border-right-0">
                              </span>
                            </div>
                            <input formControlName="email" type="email" class="form-control form-control-lg border-left-0" placeholder="Email">
                          </div>
                        </div>

                        <div class="form-group">
                          <label>Changer le type de compte</label>
                          <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                              <span class="input-group-text bg-transparent border-right-0">
                              </span>
                            </div>
                            <select formControlName="role" class="form-select form-control-lg border-left-0" aria-label="Type de compte">
                              <option *ngIf="role == 'ADMIN'" value="ADMIN" selected>Admin</option>
                              <option *ngIf="role == 'ADMIN'" value="FOURNISSEUR" disabled>fournisseur</option>
                              <option *ngIf="role == 'ADMIN'" value="CLIENT" disabled>client</option>
                              <option *ngIf="role == 'FOURNISSEUR'" value="FOURNISSEUR" selected>fournisseur</option>
                              <option *ngIf="role == 'FOURNISSEUR'" value="CLIENT" >client</option>
                              <option *ngIf="role == 'CLIENT'" value="FOURNISSEUR" >fournisseur</option>
                              <option *ngIf="role == 'CLIENT'" value="CLIENT" selected>client</option>
                            </select>

                          </div>
                        </div>
                    
                        
                        <div class="mt-3">
                          <button  (click)="submitGeneral()" [disabled]="!formGeneral.valid" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn bg-color-site text-white" >Modifier l'infos Général</button>
                        </div>
                        
                      </form>
                </div><!-- /.panel-footer -->
            </div><!-- /.panel -->
        </div>
        <div class="col-md-6">
            <div class="panel panel-success rounded shadow">
                <div class="panel-heading no-border">
                    <h2>Infos 
                      <span *ngIf="role == 'CLIENT'">Client</span> 
                      <span  *ngIf="role == 'FOURNISSEUR'" >Fournisseur</span> 
                      <span  *ngIf="role == 'ADMIN'" >ADMIN</span> 
                    </h2>
                    <div class="clearfix"></div>
                </div><!-- /.panel-heading -->

                <div class="panel-footer no-padding no-border">
                    
                    <div class="line no-margin"></div><!-- /.line -->
                    <h4 *ngIf="role == 'FOURNISSEUR'">
                        <span>Status : 
                          <i *ngIf="fournisseurUser.activer == true" class="fa fa-check" style="color: green;" aria-hidden="true"></i>
                          <i *ngIf="fournisseurUser.activer == false" class="fa fa-times" style="color: red;" aria-hidden="true"></i>
                        </span>
                      </h4>
                    <form *ngIf="role == 'CLIENT'" class="pt-3" [formGroup]="formClient">
                        <div class="form-group">
                          <label>Numéro de Téléphone</label>
                          <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                              <span class="input-group-text bg-transparent border-right-0">
                              </span>
                            </div>
                            <input [(ngModel)]="client.telephone" formControlName="telephone" type="number" class="form-control form-control-lg border-left-0" placeholder="Numéro de Téléphone">
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Adresse Complète</label>
                          <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                              <span class="input-group-text bg-transparent border-right-0">
                              </span>
                            </div>
                            <input [(ngModel)]="client.adresse" formControlName="adresse" type="textarea" class="form-control form-control-lg border-left-0" placeholder="Adresse complète">
                          </div>
                        </div>
                    
                        
                        <div class="mt-3">
                          <button  (click)="submitClient()" [disabled]="!formClient.valid" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn bg-color-site text-white" >Modifier l'infos Cllient</button>
                        </div>
                        
                      </form>

                      <form *ngIf="role == 'FOURNISSEUR'" class="pt-3" [formGroup]="formFournisseurUser">
                        <div class="form-group">
                          <label>Nom de la Boutique (Ou votre nom complet)</label>
                          <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                              <span class="input-group-text bg-transparent border-right-0">
                              </span>
                            </div>
                            <input [(ngModel)]="fournisseurUser.nom" formControlName="nom" type="text" class="form-control form-control-lg border-left-0" placeholder="Nom de la Boutique (Ou votre nom complet)">
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Numéro de Téléphone</label>
                          <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                              <span class="input-group-text bg-transparent border-right-0">
                              </span>
                            </div>
                            <input [(ngModel)]="fournisseurUser.telephone" formControlName="telephone" type="number" class="form-control form-control-lg border-left-0" placeholder="Numéro de Téléphone">
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Adresse Complète</label>
                          <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                              <span class="input-group-text bg-transparent border-right-0">
                              </span>
                            </div>
                            <input [(ngModel)]="fournisseurUser.adresse" formControlName="adresse" type="textarea" class="form-control form-control-lg border-left-0" placeholder="Adresse complète">
                          </div>
                        </div>
                        
                        <div class="form-check">
                          <input [(ngModel)]="fournisseurUser.estPerson" formControlName="estPerson" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="fournisseurUser.estPerson">
                          <label class="form-check-label" for="flexCheckChecked">
                            &nbsp;&nbsp;&nbsp;&nbsp; Boutique
                          </label>
                        </div>
                    
                        
                        <div class="mt-3">
                          <button  (click)="submitFournisseurUser()" [disabled]="!formFournisseurUser.valid" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn bg-color-site text-white" >Modifier l'infos Fournisseur</button>
                        </div>
                        
                      </form>


                </div><!-- /.panel-footer -->
            </div><!-- /.panel -->
        </div>
    </div>
    </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>